.nav-page .circle-btn::before, .nav-page .circle-btn::after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.head-content, .nav-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.bg-cover {
  background-color: yellow;
}

.head-content, .bdy-content {
  height: 100vh;
}

.head-content {
  background-image: url("../asset/img/ecosystem.jpg");
  background-size: 95% 100%;
  background-repeat: no-repeat;
  background-position-y: -10vh;
  background-position-x: center;
}

.head-content h1, .head-content p {
  font-family: "Montserrat";
}

.head-content h1 {
  letter-spacing: 40px;
  font-size: 60px;
  font-weight: normal;
}

.head-content p {
  letter-spacing: 10px;
  font-size: 14px;
  margin-left: -20px;
  color: white;
}

.nav-page {
  position: absolute;
  bottom: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  cursor: pointer;
}

.nav-page .circle-btn {
  position: absolute;
  background: #141414;
  width: 34px;
  height: 34px;
  border-radius: 40px;
  -webkit-animation: normal;
          animation: normal;
  -webkit-box-shadow: #D9395F 0 0 2px;
          box-shadow: #D9395F 0 0 2px;
}

.nav-page .circle-btn::before, .nav-page .circle-btn::after {
  content: "";
  border-radius: 40px;
  background: transparent;
  -webkit-box-shadow: #000000 0 0 20px;
          box-shadow: #000000 0 0 20px;
}

.nav-page .circle-btn::before {
  z-index: 1;
  width: 27px;
  height: 27px;
}

.nav-page .circle-btn::after {
  z-index: 2;
  width: 18px;
  height: 18px;
}

.nav-page .body-link {
  height: 0;
  width: 0;
  padding: 0;
  padding-top: 0;
  background-color: #141414;
  margin-top: 16px;
  border-radius: 50px;
  overflow: hidden;
  -webkit-transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: all 0.6s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.nav-page .body-link ul {
  list-style: none;
}

.nav-page .body-link ul li {
  margin: 0 27px;
  float: left;
}

.nav-page .body-link ul li a {
  text-decoration: none;
  color: #D5D5D5;
}

.nav-page .body-link ul li:hover a {
  color: #D9395F;
}

.nav-page:hover .circle-btn {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-30%, #D9395F), color-stop(#020202), color-stop(130%, #D9395F));
  background: linear-gradient(to bottom, #D9395F -30%, #020202, #D9395F 130%);
  -webkit-animation: scale 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate infinite;
          animation: scale 0.7s cubic-bezier(0.55, 0.085, 0.68, 0.53) alternate infinite;
}

.nav-page:hover .circle-btn::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#D9395F), to(#602A9D));
  background: linear-gradient(to bottom, #D9395F, #602A9D);
}

.nav-page:hover .circle-btn::after {
  background: -webkit-gradient(linear, left top, left bottom, from(#D9395F), to(#602a9d));
  background: linear-gradient(to bottom, #D9395F, #602a9d);
}

.nav-page .show {
  width: auto;
  height: 70px;
  padding: 20px;
  padding-top: 27px;
}

@-webkit-keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes scale {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.habitat-section {
  position: absolute;
  z-index: 1;
  top: 15%;
  background: blue;
}

.line-bg {
  position: absolute;
  left: 0;
}

.bdy-content {
  overflow: hidden;
}

.bdy-content h1 {
  font-size: 70px;
  font-family: "Montserrat";
  font-weight: 600;
}

.bdy-content h3 {
  font-size: 35px;
  margin-bottom: 30px;
  font-weight: normal;
  font-family: "Gelasio";
}

.bdy-content h5 {
  font-size: 16px;
  color: #6777C4;
  margin-bottom: 15px;
  font-weight: 400;
  font-family: "Roboto";
}

.bdy-content ul {
  list-style: none;
  padding: 0;
}

.chart {
  position: absolute;
  right: 5%;
  bottom: 0;
  -webkit-transform: translate(-5%, 0);
          transform: translate(-5%, 0);
}

.slideshow {
  position: absolute;
  overflow: hidden;
  width: 100%;
}

.slideshow .view-slide {
  -webkit-transform: translate(0, 4%);
          transform: translate(0, 4%);
}

.line {
  height: 1px;
  width: 45px;
  background-color: #808080;
  float: left;
  margin: 10px 8px;
}
/*# sourceMappingURL=ecosystem.css.map */